<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>크몽프로젝트 메인화면</title>
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<link rel="stylesheet" type="text/css" href="../css/common.css">
	<link rel="stylesheet" type="text/css" href="../css/jquery.bxslider.css">
	<link rel="stylesheet" type="text/css" href="../css/sub.css">
	<script type="text/javascript" src="../js/jquery-3.2.1.js"></script>
	<script type="text/javascript" src="../js/jquery.bxslider.js"></script>
	<script type="text/javascript" src="../js/common.js"></script>
    <link rel="stylesheet" href="../basic.css" />
	<link rel="stylesheet" href="../dropzone.css" />
	<script type="text/javascript" src="../dropzone.js"></script>
    <script>
        
        $(document).ready(function(){
            $(".modifyBtn span").click(function(){
                $("#modifyForm").submit();
            });
        });     
        Dropzone.options.userImgview = {
            paramName: "userfile",
            dictRemoveFile:"del",
            addRemoveLinks: true,
            previewsContainer: "#previews",
            autoProcessQueue: true,
            dictDefaultMessage:"이미지 등록",
            accept: function(file, done) {
                console.log("uploaded");
                done();
            },
            init: function() {
                this.on("addedfile", function() {
                    $(".userChangeImg").css("display","none");
                    if (this.files[1]!=null){
                        this.removeFile(this.files[0]);
                    }
                });
                this.on("processing", function(file) {
                    var userFolderN = $("#userFolderN").val();
                    this.options.url = "/uploadMain/"+userFolderN; 
                });
                this.on("thumbnail",function(file){
                    $("#modifyImg").attr("value",file.upload.filename)
                });
            }
        };
    </script>
</head>
<body>
	<section id="cmong">
		<header id="headConts">
			<div class="utileHead">
				<div>
					<ul class="topUtill">
						<li>
							<div class="logo">
								<h1>
                                   <a href="cmong"><img src="../images/common/kmong_logo.png" alt="크몽메인로고"></a>
                                </h1>
							</div>
							<div class="sch">
								<form>
									<input type="text" name="" placeholder="검색어를 입력해 주세요">
									<p><img src="../images/common/search_ico.png" alt="크몽메인검색아이콘"></p>
								</form>
							</div>
						</li>
						<li>
                            <div class="utill">
                                <% if(c_user){ %>
                                 <!-- 로그인 성공시 -->
                                    <!--<div class="mypg"><img src="../images/common/alram.png" alt=""></div>-->
                                    <div class="boxing">
                                        <div class="userImg"><img src="<%= c_user.c_id %>/<%= c_user.c_img %>" alt=""></div>
                                        <div class="userId"><%= c_user.c_id %></div>
                                        <span class="ico"></span>
                                        <div class="utillConts">	
                                            <ul>
                                                <li><a href="userpage">구매목록</a></li>
                                                <li><a href="productStep">판매</a></li>
                                                <li><a href="sellerpage">판매목록</a></li>
                                                <li><a href="likepage">찜목록</a></li>
                                                <li><a href="mypage">나의정보</a></li>
                                                <li><a href="logout">로그아웃</a></li>
                                            </ul>
                                        </div>
                                        <img class="toparrow" src="../images/common/main_toparrow.png" alt="">
                                    </div>
                                 <% } else { %>
                                    <!-- 비회원 -->
                                    <div class="login">
                                       <h2><a href='login'>로그인</a></h2>
                                    </div>
                                    <div class="aplyLogin">
                                        <h2><a href='loginForm'>무료회원 가입</a></h2>
                                    </div> 
                                 <% } %>
                            </div>
                        </li>
					</ul>
				</div>
			</div>
			<div class="utileHead addType">
				<div>
					<nav class="navi">
						<ul class="firstUi">
                            <li>
                                <a href="type_list?category=1"><h2>디자인</h2></a>
                                <div class="navi_contens">
                                    <ul class="lastUi">
                                        <li><a href="type_list?category=11">로고 디자인</a></li>
                                        <li><a href="type_list?category=12">명함&인쇄물</a></li>
                                        <li><a href="type_list?category=13">웹&모바일</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="type_list?category=2"><h2>IT & 프로그래밍</h2></a>
                                <div class="navi_contens">
                                    <ul class="lastUi">
                                        <li><a href="type_list?category=21">워드프레스</a></li>
                                        <li><a href="type_list?category=22">웹사이트 개발</a></li>
                                        <li><a href="type_list?category=23">웹사이트 유지보수</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href=""><h2>컨텐츠 제작</h2></a>
                                <div class="navi_contens"></div>
                            </li>
                            <li>
                                <a href=""><h2>마케팅</h2></a>
                                <div class="navi_contens"></div>
                            </li>
                            <li>
                                <a href=""><h2>번역 & 통역</h2></a>
                                <div class="navi_contens"></div>
                            </li>
                            <li>
                                <a href=""><h2>문서작성</h2></a>
                                <div class="navi_contens"></div>
                            </li>
                        </ul>
					</nav>
				</div>
			</div>
		</header>
		<section id="infoConts">
			<div class="inerContens">
				<div class="myPageBox">
					<h2>기본정보</h2>
					<div class="myInfo">
						<div class="img">
							<div class="dropImg">
                                <form id="userImgview" enctype="multipart/form-data" action="uploads" method="post" class="dropzone">
                                </form>
                                <div id="previews">
                                    <p class="userChangeImg"><img src="<%= c_user.c_id %>/<%= c_user.c_img %>" alt=""></p>
                                </div>
                            </div>
                            <input id="userFolderN" type="hidden" name="userFolderN" value="<%= c_user.c_id %>">
						</div>
                        <form id="modifyForm" method="post" action="mypage">
                            <div class="userData">
                                <dl>
                                    <dt>아이디</dt>
                                    <dd class="userDd"><input name="c_id" type="text" value="<%= c_user.c_id %>" readonly ></dd>
                                </dl>
                                <dl>
                                    <dt>닉네임</dt>
                                    <dd class="userDd"><input name="c_name" type="text" value="<%= c_user.c_name %>"></dd>
                                </dl>
                                <dl>
                                    <dt>핸드폰번호</dt>
                                    <dd class="userDd"><input name="c_phon" type="text" value="<%= c_user.c_phon %>"></dd>
                                </dl>
                                <dl>
                                    <dt>이메일</dt>
                                    <dd class="userDd"><input name="c_mail" type="text" value="<%= c_user.c_mail %>"></dd>
                                </dl>
                                <dl>
                                    <dt>연락 가능 시간 설정</dt>
                                    <dd class="userDd">
                                        <div class="selectCh">
                                            <select name="callTime1" id="callTime1">
                                                <option>0시</option>
                                                <option value="1시">1시</option>
                                                <option value="2시">2시</option>
                                                <option value="3시">3시</option>
                                                <option value="4시">4시</option>
                                                <option value="5시">5시</option>
                                                <option value="6시">6시</option>
                                                <option value="7시">7시</option>
                                                <option value="8시">8시</option>
                                                <option value="9시">9시</option>
                                                <option value="10시">10시</option>
                                                <option value="11시">11시</option>
                                                <option value="12시">12시</option>
                                                <option value="13시">13시</option>
                                                <option value="14시">14시</option>
                                                <option value="15시">15시</option>
                                                <option value="16시">16시</option>
                                                <option value="17시">17시</option>
                                                <option value="18시">18시</option>
                                                <option value="19시">19시</option>
                                                <option value="20시">20시</option>
                                                <option value="21시">21시</option>
                                                <option value="22시">22시</option>
                                                <option value="23시">23시</option>
                                                <option value="24시">24시</option>
                                            </select>
                                            <span class="ico"></span>
                                        </div>
                                        <div class="flow">~</div>
                                        <div class="selectCh">
                                            <select name="callTime2" id="callTime2">
                                                <option>0시</option>
                                                <option value="1시">1시</option>
                                                <option value="2시">2시</option>
                                                <option value="3시">3시</option>
                                                <option value="4시">4시</option>
                                                <option value="5시">5시</option>
                                                <option value="6시">6시</option>
                                                <option value="7시">7시</option>
                                                <option value="8시">8시</option>
                                                <option value="9시">9시</option>
                                                <option value="10시">10시</option>
                                                <option value="11시">11시</option>
                                                <option value="12시">12시</option>
                                                <option value="13시">13시</option>
                                                <option value="14시">14시</option>
                                                <option value="15시">15시</option>
                                                <option value="16시">16시</option>
                                                <option value="17시">17시</option>
                                                <option value="18시">18시</option>
                                                <option value="19시">19시</option>
                                                <option value="20시">20시</option>
                                                <option value="21시">21시</option>
                                                <option value="22시">22시</option>
                                                <option value="23시">23시</option>
                                                <option value="24시">24시</option>
                                            </select>
                                            <span class="ico"></span>
                                        </div>
                                    </dd>
                                </dl>
                                <div class="modifyBtn">
                                    <div>
                                        <span>수정하기</span>
                                    </div>
                                </div>
                                <input id="modifyImg" type="hidden" name="modifyImg" value="">
                            </div>
                        </form>   
					</div>
				</div>
			</div>
			<div class="infoLink">
				<div class="linkList">
					<ul>
						<li>크몽팀</li>
						<li>|</li>
						<li>서비스소개</li>
						<li>|</li>
						<li>인재채용</li>
						<li>|</li>
						<li>이용약관</li>
						<li>|</li>
						<li>개인정보취급방침</li>
						<li>|</li>
						<li>FAQ</li>
					</ul>
				</div>
			</div>
		</section>
		<section class="footImg">
			<img src="../images/common/footer.jpg" alt="">
		</section>
		<!-- <section id="notiConts">
			<div>
				<div class="notiFirst">
					
				</div>
				<div class="notiLast">
					
				</div>
			</div>
			<div class="notiIg">sfsdfs</div>
		</section>
		<footer id="footConts">
			<div class="adress">
				
			</div>
			<div class="addLogo">
				
			</div>
		</footer> -->
	</section>
</body>
</html>